@import "./style";

.dashboard {
  > div {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    > .user-card {
      display: flex;
      flex-direction: column;
      gap: 5px;
      > h1 {
        font-size: 28px;
        span {
          color: $main;
        }
      }
      > p {
        font-size: 14px;
      }
      > div {
        display: flex;
        align-items: center;
        gap: 30px;

        > p {
          display: flex;
          align-items: center;
          gap: 2px;
          font-weight: bold;
          color: $main;
          span {
            color: $c1;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.user-created-quiz {
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    overflow: auto;
    > .recentlyCreatedQuizTemplate {
      padding: 15px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: #fff;

      > h3 {
        color: $main;
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
      > .date {
        font-size: 12px;
      }
      > .btns {
        display: flex;
        align-items: center;
        gap: 10px;
        > a {
          @extend .btn;
        }
      }
    }
  }
  > .recent-taken-quiz {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > .recent-quiz-template {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 15px;
      border-radius: 10px;
      background-color: #fff;
      > h3 {
        color: $main;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
