@import "./style";
nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: $bg;
  a {
    z-index: $top;

    h2 {
      font-size: 32px;
      color: $main;
      z-index: $top;
    }
  }
  > .links {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: $top;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.7s ease-in-out;

    > .cancel-btn {
      z-index: $top;
      font-size: 20px;
      position: absolute;
      top: 20px;
      left: 20px;
      padding: 5px 15px;
      font-size: 14px;
      display: none;
    }
  }
  > .nav-btn {
    z-index: $top;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: "786px") {
  nav {
    > .links {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 0;
      background-color: $bg;
      box-shadow: $shadow;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      > .cancel-btn {
        display: block;
      }
    }
    .links.open {
      width: 70%;
    }
    > .nav-btn {
      display: block;
    }
  }
}
