@import "./style";

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $bg;
  box-shadow: $shadow;
  color: $c1;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: $top;

  .message {
    font-size: 16px;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: $main;
    animation: decreaseWidth 5s linear forwards;
  }
}

@keyframes decreaseWidth {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
