@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main: #00100b;
  --fff: #ffffff;
  --color1: #e28413;
}

body {
  background-color: var(--main);
  color: var(--fff);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

button {
  padding: 5px 20px;
  border-radius: 10px;
  background-color: var(--color1);
  color: var(--main);
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
  font-size: 18px;
}

button:hover {
  opacity: 0.85;
}
